@import "styles/global";

.container {
  display: flex;

  .winner {
    font-weight: bold;
    color: $color-green-1;
  }

  .divider {
    background-color: $color-purple-3;
    margin: 0 4rem;
    height: 20px;
    width: 1px;
  }

  .loser {
    font-weight: bold;
    color: $color-red-1;
  }
}
