$color-purple-1: #252538;
$color-purple-2: #151423;
$color-purple-3: #4f4e71;
$color-yellow-1: #fbcd15;
$color-green-1: #28d1bf;
$color-red-1: #d14a28;
$color-white: #ededef;
$color-white-2: #88889c;

// :export {
//   colorPurple2: $color-purple-2;
// }
