@import "styles/global";

.container {
  overflow-x: auto;

  .table {
    table-layout: fixed;
    border: none;
    background-color: $color-purple-1;
    border-radius: 0.75rem;

    thead {
      border-bottom: 1px solid #363651;
      th {
        padding: 24px 40px;
        border: none;
        text-align: right;
        width: 50px;
        font-size: 0.875rem;
        color: $color-white-2;
        font-weight: 400;

        &:nth-child(1) {
          text-align: left;
        }
        &:nth-child(3) {
          width: 240px;
        }
        &:nth-child(4) {
          width: 380px;
        }
      }
    }

    td {
      font-size: 1rem;
      padding: 30px 40px;
      border: none;
      text-align: right;

      &:nth-child(1) {
        text-align: left;
      }

      &:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        font-weight: bold;
      }

      .favorite {
        fill: $color-purple-3;
        cursor: pointer;

        &.filled {
          fill: $color-yellow-1;
        }
      }

      &.positive {
        color: $color-green-1;
      }

      &.negative {
        color: $color-red-1;
      }
    }
  }
}
